                    <hr class="hr-line">
                    <h3 class="title" style="font-size:30px;">
                        {% if site.facebook %}<a class="social-btn" href="http://facebook.com/profile.php?id=100003268965959" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-facebook-square"></i></a>{% endif %}
                        {% if site.instagram %}<a class="social-btn" href="http://instagram.com/{{ site.instagram }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-instagram"></i></a>{% endif %}
                        {% if site.youtube %}<a class="social-btn" href="https://youtube.com/user/{{ site.youtube }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-youtube-square"></i></a>{% endif %}
                  </h3>
